h1{
    color: #0cf;
    font-size: 2em;
}

h1 a{
    color: #0cf;
}

div#message-frame{
    margin: auto;
    margin-top: 2em;
    padding-top: 2em;
    padding-bottom: 1em;
    width: 60%;
    min-width: 840px;
    background-color: #353535;
    border-radius: 4px;
    box-shadow: 0 0 8px #fff;
}

div.message{
    width: 100%;
    align-content: flex-start;
}

span.message-time {
    display: inline-block;
    text-align: right;
    width: 20%;
    position: relative;
    top: 3px;
    color: #0cf;
    padding-right: 1em;
    vertical-align: top;
}

span.message-body {
    display: inline-block;
    width: 72%;
    font-family: 'Helvetica Neue',Helvetica,Arial,Sans-serif;
    line-height: 1.7;
    font-size: 13px;
    padding-right: 0;
    padding-left: 1em;
    margin-bottom: 0.8em;
    color: #eee;
    word-wrap: break-word;
    border-left: 1px solid #0cf;
}

form{
    width: 60%;
    margin: auto;
    min-width: 840px;
}

textarea#message {
    width: 100%;
    display: block;
    color: white;
    font-size: 13px;
    font-weight: bold;
    border: 1px solid #0cf;
    border-radius: 0.4em;
    margin-top: 2em;
    margin-bottom: 1em;
    padding-left: 0.5em;
    background-color: #444;
}

input[type="submit"] {
    display: block;
    font-size: 1em;
    width: 6em;
    height: 2em;
    color: #0cf;
    text-shadow: 0 0 1px;
    background-color: #444;
    border: 1px solid #0cf;
    border-radius: 0.2em;
}

input[type="submit"]:hover{
    box-shadow: 0px 0px 3px white;
}

pre{
    margin: 0;
}