h1{
    color: #0cf;
    font-size: 2em;
}

h1 a{
    color: #0cf;
}

div.message{
    width: 100%;
    align-content: flex-start;
}

span.message-time {
    display: inline-block;
    text-align: right;
    width: 168px;
    position: relative;
    top: 3px;
    color: #0cf;
    padding-right: 1em;
    vertical-align: top;
}

span.message-body {
    display: inline-block;
    width: 64%;
    font-family: 'Helvetica Neue',Helvetica,Arial,Sans-serif;
    line-height: 1.7;
    font-size: 13px;
    padding-right: 0;
    padding-left: 1em;
    margin-bottom: 0.8em;
    color: #ffffff;
    word-wrap: break-word;
    border-left: 2px solid #0cf;
    word-break: break-all;
    overflow: auto;
}

div#message-frame{
    margin: auto;
    margin-top: 2em;
    padding-top: 2em;
    padding-bottom: 1em;
    width: 80%;
    min-width: 640px;
    background-color: #353535;
    border-radius: 4px;
    box-shadow: 0 0 8px #fff;
}

form{
    width: 80%;
    min-width: 640px;
    margin: auto;
    margin-bottom: 5em;
}

textarea#message {
    width: 100%;
    display: block;
    font-size: 13px;
    border-radius: 0.4em;
    margin-top: 2em;
    margin-bottom: 1em;
    padding-left: 0.5em;
}

input[type="submit"] {
    display: block;
    font-size: 1em;
    width: 6em;
    height: 2em;
    border-radius: 0.2em;
    float: right;
}

pre{
    margin: 0;
    display: inline;
}

span.buttons{
    display: inline-block;
    vertical-align: top;
    width: 130px;
    float: right;
    position: relative;
    right: 20px;
}

button.action-button{
    display: inline-block;
    vertical-align: top;
    position: relative;
    border-radius: 2px;
    -webkit-appearance: none;
    width: 60px;
    height: 24px;
    opacity: 0.4;
    cursor: pointer;
    box-shadow: none;
}

button.copy-button.hover{
    opacity: 1.0;
}

button.copy-button.active{
    opacity: 0.4;
}

button.copy-button{
    left: 10px;
    color: #0cf;
    background-color: #444;
    border: 1px solid #0cf;
}

button.delete-button:hover{
    opacity: 1.0;
}

button.delete-button:active{
    opacity: 0.6;
}

button.delete-button{
    left: 10px;
    color: deeppink;
    background-color: #444;
    border: 1px solid deeppink;
    opacity: 0.6;
}

a{
    text-decoration: none;
    color: #0cf;
}

span.code-keywords{
    color: crimson;
    font-weight: bold;
}

span.code-brackets{
    color: turquoise;
}

span.code-strings{
    color: deeppink;
}

span.code-comments{
    color: #bbbbbb;
}

span.code-strings a{
    color: hotpink;
}

span.code-strings span.code-brackets{
    color: hotpink;
}

span.code-strings span.code-keywords{
    color: hotpink;
}

span.code-strings span.code-comments{
    color: hotpink;
}

.hint-div{
    background-color: #000;
    border-radius: 4px;
    border: 1px solid hotpink;
    position: fixed;
    left: 50%;
    top:50%;
    min-width: 240px;
    height: 40px;
    margin-top: -30px;
    margin-left: -80px;
}

.hint-span{
    display: block;
    position: absolute;
    top: 50%;
    width: 240px;
    height: 14px;
    margin-top: -7px;
    text-align: center;
    color: #00ccff;
    font-size: 14px;
}