h1 a{
    color: rgb(0, 204, 255);
}

h1{
    width: 200px;
    position: absolute;
    top:50%;
    left: 50%;
    margin-top: -160px;
    margin-left: -100px;
}

#secret-form{
    width: 500px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -250px;
}

span#inputs-span{
    width: 500px;
    margin: auto;
}

input{
    font-size: 24px;
    height: 40px;
    text-align: center;
    border-radius: 0.2em;
}

input#secret-input {
    display: inline-block;
    width: 66%;
}

input[type=submit]{
    display: inline-block;
    width: 33%;
    background-color: black;
    border: 1px solid #0cf;
    color: #0cf;
}