h1 a{
    color: rgb(0, 204, 255);
    text-shadow: white 0px 0px 1px;
}

#secret-form{
    width: 500px;
    margin: auto;
    margin-top: 12em;
}

span#inputs-span{
    width: 500px;
    margin: auto;
}

input{
    font-size: 2em;
    height: 1.6em;
    text-align: center;
    border-radius: 0.2em;
    margin-bottom: 0.4em;
}

input#secret-input {
    display: inline-block;
    width: 66%;
}

input[type=submit]{
    display: inline-block;
    width: 33%;
    background-color: black;
    border: 1px solid #0cf;
    color: #0cf;
}